@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

#Validation{
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: center;

}
form{
    justify-content: space-around;
    margin: 50px;
}
.regform{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logform{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
}

label{
    display: block;
    margin-bottom: 5px;
}

.input-container{
    display: flex;
    flex-direction: column;
}


.input-container input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 92%;
}

button{
    width: 100%;
    margin: 15px 0;
    color: #fff;
    background-color: #ED0800;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}